body {
  background-image: url("images/bg-pattern-top.svg"),
    url(images/bg-pattern-bottom.svg);
  background-color: #19a1ad;
  background-repeat: no-repeat;
  background-position: -24px -336px, 10px 30px;
  background-attachment: fixed, fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  color: hsl(227, 10%, 46%);
  font-weight: 400;
  font-family: "Kumbh Sans", sans-serif;
  text-align: center;
}

#card {
  width: 350px;
  height: 384px;
  background-color: white;
  border-radius: 14px;
  background-image: url(images/bg-pattern-card.svg);
  background-repeat: no-repeat;
}

img {
  border-radius: 50%;
  border: solid white 5px;
  position: relative;
  top: 87px;
  display: block;
  top: 87px;
  margin: auto;
}

#name {
  position: relative;
  top: 110px;
}

#name > h2 {
  display: inline;
}

section {
  display: block;
}

h2 {
  color: hsl(229, 23%, 23%);
  font-size: 18px;
  font-weight: 700;
}

#stats {
  display: flex;

  justify-content: space-around;

  position: relative;
  top: 143px;
}

#stats > span {
  font-size: 10px;
  margin: 0 25px;
  line-height: 50%;
}

p {
  position: relative;
  top: 108px;
}

#line {
  width: 350px;
  position: relative;
  border-bottom: 1px solid #e7e7e7;
  top: 121px;
}
